<div class="container">
  <div class="row">
    <div *ngFor="let car of carList" class="col m4 s6">
      <div (click)="goToCar(car)" class="card horizontal" carBorderCard>
        <div class="card-image">
          <img height="100px" width="100px" [src]="car.picture" />
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <p>{{ car.name }}</p>
            <p>
              <small>{{ car.created | date : "dd/mm/yyyy" }}</small>
              <span
                *ngFor="let cat of car.category"
                class="{{ cat | carTypeColor }}"
                >{{ cat }}</span
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
